html, body
{
  overflow: hidden;
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
	padding-left: 15px;
	background-color: #404040;
}

* {
    box-sizing: border-box;
    font-family: 'Molengo', sans-serif;
    color: white;
}

/*for the hidden input tag of the search box*/
input{
	color:black;
}

.ul{
	 list-style-type: none;
	 text-align: center;
	 font-size: 18px;
	 padding: 0px;
}

.boxline{
	display: inline-block;
	text-decoration: none;
}

.boxline-s{
	display: inline-block;
	color: black;
}

.line {
	display: inline-block;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-left: 10px;
	font-size: 16px;
}


.menu_index {width: 60%;
	          position: absolute;
              left:50%;
              top: 60%;
              transform:translate(-50%, -50%);
              text-align: center;
              display: inline-block;
          }

.main_header{
	width: 50%;
    position: absolute;   
    left: 60%;
    top: 82%;
    font-size: 87px;
    transform:translate(-50%, -50%);
}
.search_index {width:70%;
        position: absolute;
        left: 50%;
        top: 70%;
        transform:translate(-50%, -50%);
        text-align: center;
        display: inline-block;}

.invalid{
	position: absolute;
	left: 50%;
	top: 75%
	font-size: 22px;
	color: red;
}

.col-5_bdetail {width:70%;
	    padding: 5px;
        position: absolute;
        left: 50%;
        top: 80%;
        transform:translate(-50%, -50%);
        font-size: 16px;
        overflow: auto;
        height:35%;}

.col-1_styles {width: 8.33%;
	          position: absolute;
              left:60%;
              top: 50%;
              transform:translate(-50%, -50%);
              text-align: center;
          }

.col-1_detail {width: 8.33%;
	          position: absolute;
              left:76%;
              top: 60%;
              transform:translate(-50%, -50%);
              text-align: center;
          }



.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}


.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.col-6_index {width: 90%;
	          height: 50%;
	          top: 30%;
	          position: absolute;
              left: 50%;
              transform:translate(-50%, -50%);
              background: url('/css/bck-beerlin.png') no-repeat;
              background-size: 100% 100%;}

.col-7 {width: 58.33%;
	    min-height: 100vh;
        position: relative;
        left: 50%;
        transform:translate(-50%, -50%);
        background-color: black;
        top: 50%;
        overflow: visible}

.box {
	opacity: 0.5;
	display: inline-block;
}


h1 {
	position: relative;
	font-family: 'Roboto Mono', monospace;
	font-size: 58px;
	top: 100px;
}

h2{
   position: relative;
   top: 50px;
}


.invalid_beer_list{
	position: relative;
	top: 150px;
	font-size: 22px;
	color: red;
}

a:link, a:visited {
	color: #E56A00;

	text-decoration: none;
}

a:hover{
	color: white;
}

.dropbutton {

	width: 50px;
	height: 50px;
	margin-right: 6px;
	border: none;
	text-align: center;
	background: url('http://www.manujarvinen.com/~eternal/images/blogs/blender_aid/asset_library/misc/ref/55-075-50_alt-clsup.gif') no-repeat;
	background-size:contain;
	font-size: 20px;
	color: #783F10;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.col-4_bdetail_hidd{
        display: none;

}

.col-4_bdetail_hidd:target {
	    display: block;
        width: 80%;
	    padding: 5px;
        position: absolute;
        left: 80%;
        top: 60%;
        transform:translate(-50%, -50%);
        font-size: 16px;
        overflow: visible;
        height: 100%;
	    }

.description{
	position: relative;
	top: 250px;
	max-width: 1200px;
	text-align: justify;
	padding: 8px;
	font-size: 18px;
}

.beer_intro{
	position: relative;
	top: 170px;
}

.bttlink{
	border: 0px;
	background-color: transparent;
	font-size: 16px;
	color: #E56A00;
}

.bttlink:hover{
	color:white;
}