{% extends 'beer/base.html' %}

{% block menu %} 
 <div class="line"><li><a href="{% url 'index' %}">BEER SEARCH</a></li></div>
  <div class="line"><li><a href="{% url 'breweries' %}">BERLIN BREWERIES</a></li></div>
 <div class="line"><li><a href="{% url 'styles' %}">CATEGORY SEARCH</a></li></div>
{% endblock %}


{% block content %}
<div class="col-5_bdetail">

<p>{{ hello }}</p>

<p>{{ text }}</p>

<p>This project uses the <a href="http://www.brewerydb.com">BreweryDB API</a> to extract all the information concerning beers and breweries, and the <a href="https://developers.google.com/maps/">Google maps API</a> to display the embedded maps for the breweries. Beerlin was written using Django and it’s part of my portfolio of projects written in Python. You can find the github repository for Beerlin <a href="https://github.com/Eloisa-R/beerlin-app">here</a> or you can contact me <a href="mailto:rios.rico.eloisa@gmail.com">here</a>.</p>
</div>
{% endblock %}