{% load staticfiles %}

<html>
<head>
    <title>  </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/beer.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Molengo" rel="stylesheet">
</head>

<body>
  <div class="col-7">

    <div class="col-6_index">
      <h1 class="main_header"> beerlin </h1>
    </div>
  

    <br><br>
    
    <div class="menu_index">
    <ul class="ul">
       
        {% block menu %}
         {% endblock %}

    </ul>
    </div>
    {% block content %}
    {% endblock %}
 </div>
    <br>
    
</body>
