{% extends 'beer/base.html' %}


{% block menu %} 
 <div class="line"><li><a href="{% url 'index' %}">BEER SEARCH</a></li></div>
<div class="line"><li><a href="{% url 'breweries' %}">BERLIN BREWERIES</a></li></div>
 <div class="line"><li><a href="{% url 'styles' %}">CATEGORY SEARCH</a></li></div>
 <div class="line"><li><a href="{% url 'about' %}">ABOUT</a></li></div>
{% endblock %}

{% block content %}
{% if beer %}
  <div class="col-5_bdetail">
    <ul class='uli'>
    <br>
    <li>Name: {{ beer.name }}</li>
    <br>
    <li>Style: {{ beer.style_id.style_name }}</li>
    <br>
    <li>Minimum alcohol volume: {{ beer.min_alcohol }}</li>
    <br>
    <li>Maximum alcohol volume: {{ beer.max_alcohol }}</li>
    <br>
    <li>Minimum bitterness (0-100): {{ beer.min_bitter }}</li>
    <br>
    <li>Maximum bitterness (0-100): {{ beer.max_bitter }}</li>
    <br>
    <li>Description: {{ beer.style_id.description }}</li>
    <br>
    <li>Other beers in the same style: {{ similar|join:", " }}</li>


    </ul>

{% else %}
    <p>No beers are available.</p>
{% endif %}
</div>
{% endblock %}