{% load staticfiles %}

<html>

<head>
   <title> Beerlin </title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="{% static 'css/beer.css' %}">
   <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
</head>

<body>
<h1> {{ hello }} </h1>

<div class="col-3_index">
<ul class="ul">
   
   <div class="line"><li><a href="{% url 'styles' %}">Category Search</a></li></div>
   <div class="line"><li><a href="">About</a></li></div>
</ul>
</div>

{% if beer %}

    <ul class="col-5_bdetail">
    <br>
    <li>Name: {{ beer.name }}</li>
    <br>
    <li>Style: {{ beer.style_id.style_name }}</li>
    <br>
    <li>Minimum alcohol volume: {{ beer.min_alcohol }}</li>
    <br>
    <li>Maximum alcohol volume: {{ beer.max_alcohol }}</li>
    <br>
    <li>Minimum bitterness (0-100): {{ beer.min_bitter }}</li>
    <br>
    <li>Maximum bitterness (0-100): {{ beer.max_bitter }}</li>
    <br>
    <li>Description: {{ beer.style_id.description }}</li>
    <br>
    <li>Other beers in the same style: {{ similar|join:", " }}</li>


    </ul>

{% else %}
    <p>No beers are available.</p>
{% endif %}

</body>
</html>