{% load staticfiles %}

<html>
<head>
    <title> Beerlin </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/beer.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Molengo" rel="stylesheet">
</head>

<body>
    <h1 class="main_header"> {{ hello }} </h1>


    <br><br>
    
    <div class="col-3_index">
    <ul class="ul">
       
       <div class="line"><li><a href="{% url 'styles' %}">Category Search</a></li></div>
       <div class="line"><li><a href="">About</a></li></div>
    </ul>
    </div>
    <div class="col-4_index">
        <div class="line"><form method="POST">{% csrf_token %}
        {{ form.as_p }} </div>
        <div class="line"><button type="submit">Search</button></div>
    </form>
    <br>
    {% if invalid %}
    <br>
    <p class="invalid"> {{ invalid }} </p>
    {% endif %}
    </div>

    <br>
    
</body>
