{% load staticfiles %}

<html>
<head>
    <title> Beerlin </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/beer.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Molengo" rel="stylesheet">
</head>

<body>
    <h1 class="main_header"> {{ hello }} </h1>


    <br><br>

    <div class="col-5">
        <form method="POST" class='box'>{% csrf_token %}
        {{ form.as_p }} 
        <button type="submit">Search</button>
    </form>

    {% if invalid %}
    <br>
    <p class="invalid"> {{ invalid }} </p>
    {% endif %}
    <br>
      <a href="{% url 'styles' %}"> {{ other_method }} </a>
    </div>

    <br>
    
</body>
