{% extends 'beer/base.html' %}

{% block menu %} 
 <div class="line"><li><a href="{% url 'index' %}">BEER SEARCH</a></li></div>
 <div class="line"><li><a href="{% url 'styles' %}">CATEGORY SEARCH</a></li></div>
 <div class="line"><li><a href="{% url 'about' %}">ABOUT</a></li></div>
{% endblock %}


{% block content %}
<div class="col-5_bdetail">
    <p> {{ title }} </p>

    <p> {{ text }} </p>

    {% if invalid %}

    <p class="invalid_beer_list"> {{ invalid }} </p>

    {% endif %}

    {% if select_form %}
          <form method="POST">{% csrf_token %}
            <table>
            <tr>
            {% for index in rangeb %}
              <th></th>
            {% endfor %}
             </tr>
              <tr>
          {% for item in select_form.beer_option.field.queryset  %}
            <td>
            <input type="radio" name="beer_option" value="{{item.id}}"> {{ item.beer_name }}
            </td>
            {% if forloop.counter0|divisibleby:num_col %}
              </tr>
              <tr>
            {% endif%}
          {% endfor %}
          </table>
        <br>
        <button type="submit" style="color:black">Submit</button>
        </form>
    {% else %}

        <p>Ooops! We couldn't retrieve the beer list. Please try again later</p>

    {% endif %}
  </div>
{% endblock %}