{% load staticfiles %}

<html>
<head>
    <title> Beerlin </title>
    <link rel="stylesheet" href="{% static 'css/beer.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
</head>

<body>
    <div>
    <h1> {{ title }} </h1>
    </div>

    <br><br>

    <div>
    <h2> {{ text }} </h2>
    </div>

    {% if invalid %}

    <p class="invalid_beer_list"> {{ invalid }} </p>

    {% endif %}

    {% if select_form %}
          <form method="POST">{% csrf_token %}
            <table class="form_list">
            <tr>
            {% for index in rangeb %}
              <th></th>
            {% endfor %}
             </tr>
              <tr>
          {% for item in select_form.beer_option.field.queryset  %}
            <td>
            <input type="radio" name="beer_option" value="{{item.id}}"> {{ item.beer_name }}
            </td>
            {% if forloop.counter0|divisibleby:num_col %}
              </tr>
              <tr>
            {% endif%}
          {% endfor %}
          </table>
        <br>
        <button class="submit_but" type="submit">Submit</button>
        </form>
    {% else %}

        <p>Ooops! We couldn't retrieve the beer list. Please try again later</p>

    {% endif %}

</body>
</html>