{% extends 'beer/base.html' %}

{% block menu %} 
 <div class="line"><li><a href="{% url 'index' %}">BEER SEARCH</a></li></div>
<div class="line"><li><a href="{% url 'breweries' %}">BERLIN BREWERIES</a></li></div>
 <div class="line"><li><a href="{% url 'about' %}">ABOUT</a></li></div>
{% endblock %}


{% block content %}
<div class="col-5_bdetail">

   {% if  global_dict %}

    <div class="col-4">
     <p> {{ title }} </p>

      <p> {{ text }} </p>
      {% for key, value in global_dict %}
         <div class="dropdown">
           <a href="#{{ key }}"><button class="dropbutton"> {{ key }} </button></a>
    </div>
    <div id="{{ key }}" class="col-4_bdetail_hidd">

              {% for item in value %}

               <a href="{% url 'style_detail' style_name=item.1 style_id=item.0 %}"> {{ item.1 }} </a>
               <br>
              {% endfor %}
    </div>

      {% endfor %}

   {% else %}

     <p>Sorry, we couldn't load the styles list</p>

   {% endif %}
  </div>
{% endblock %}