{% load staticfiles %}

<html>
<head>
    <title> Beerlin </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/beer.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
</head>

<body>
   <h1> {{ title }} </h1>
   <br>
   <h2> {{ text }} </h2>

   {% if  global_dict %}


    <div class="col-4">
     
      {% for key, value in global_dict %}
         <div class="dropdown">
           <a href="#{{ key }}"><button class="dropbutton"> {{ key }} </button></a>
    </div>
    <div id="{{ key }}" class="col-4_bdetail_hidd">

              {% for item in value %}

               <a href="{% url 'style_detail' style_name=item.1 style_id=item.0 %}"> {{ item.1 }} </a>
               <br>
              {% endfor %}
    </div>

      {% endfor %}

  <div class="col-1_detail">
   <ul class="ul">
   
   <div class="line"><li><a href="{% url 'index' %}">BEER SEARCH</a></li></div>
   <div class="line"><li><a href="">ABOUT</a></li></div>
   </ul>
   </div>

   {% else %}

     <p>Sorry, we couldn't load the styles list</p>

   {% endif %}
</body>