{% load staticfiles %}

<html>
<head>
    <title> Beerlin </title>
    <link rel="stylesheet" href="{% static 'css/beer.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
</head>

<body>
   <h1> {{ title }} </h1>
   <br>
   {% if  style_search %}

      {% for item in style_search %}

        <a href="{% url 'style_detail' style_name=item.style_name style_id=item.style_id %}">{{ item.style_name }}</a>
        <br>

      {% endfor %}

   {% else %}

     <p>Sorry, we couldn't load the styles list</p>

   {% endif %}
</body>