{% extends 'beer/base.html' %}

{% block menu %} 
 <div class="line"><li><a href="{% url 'index' %}">BEER SEARCH</a></li></div>
 <div class="line"><li><a href="{% url 'styles' %}">CATEGORY SEARCH</a></li></div>
 <div class="line"><li><a href="{% url 'about' %}">ABOUT</a></li></div>
{% endblock %}


{% block content %}
<div class="col-5_bdetail">
   <p> {{ title }} </p>


   {% if beers %}

   <p> {{ style_obj.description }} </p>


   <p><b>Some beers in this style:</b></p>

   <form action="{% url 'index' %}" method="POST">{% csrf_token %}
     <table>
      <tr>
      {% for index in rangeb %}

          <th></th>
      {% endfor %}
      </tr>
      <tr>
        {% for item in beers %}
          <td class="td"><input type="submit" name="beer_name" value="{{ item.beer_name }}" class="bttlink"/></td>
          {% if forloop.counter0|divisibleby:num_col %}
            </tr>
            <tr>
          {% endif%}

        {% endfor %}  
    </table>
  </form>
  
   {% else %}

     <p>Sorry, we couldn't load the list of beers for this style</p>

   {% endif %}
   </div>
{% endblock %}