{% load staticfiles %}


<html>
<head>
    <title> Beerlin </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/beer.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
</head>

<body>
   <h1> {{ title }} </h1>
   <br>

   <div class="col-3_index">
    <ul class="ul">
   
   <div class="line"><li><a href="{% url 'index' %}">Beer Search</a></li></div>
   <div class="line"><li><a href="">About</a></li></div>
   </ul>
   </div>

   {% if beers %}

   <div class="col-5_bdetail">
   <p> {{ style_obj.description }} </p>

   <br>
   <br>
   <p><b>Some beers in this style:</b></p>
   <br>
   <form action="{% url 'index' %}" method="POST">{% csrf_token %}
     <table>
      <tr>
      {% for index in rangeb %}

          <th></th>
      {% endfor %}
      </tr>
      <tr>
        {% for item in beers %}
          <td class="td"><input type="submit" name="beer_name" value="{{ item.beer_name }}" class="bttlink"/></td>
          {% if forloop.counter0|divisibleby:num_col %}
            </tr>
            <tr>
          {% endif%}

        {% endfor %}  
    </table>
  </form>
  </div>
   {% else %}

     <p>Sorry, we couldn't load the list of beers for this style</p>

   {% endif %}
</body>
</html>